@inherits LayoutComponentBase

<PageTitle>TmtsChecker</PageTitle>

<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        @*<div class="top-row px-4">
            header content here
        </div>*@

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
